bokeh==1.0.4
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
numpy==1.16.2
packaging==19.0
pandas==0.24.1
Pillow==5.4.1
pymongo==3.7.2
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
six==1.12.0
tornado==6.0
Werkzeug==0.14.1
