{% extends "base.html" %}

{% block title %}<title>Video annotation - User</title>{% endblock %}

{% block head_extension %}
<script type="text/javascript"
		src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript"
		src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/jquery.range2dslider.css') }}">
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/slider.css') }}">
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.range2dslider.js') }}"></script>
<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/userinstructions.css') }}">
<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/navbar_divider.css') }}">
{% endblock %}


{% block navbar_extension %}
<div class="collapse navbar-collapse justify-content-end"
	 id="navbarMain">
	<div class="navbar-nav">
		{% if not researcher %}
		<a class="nav-item nav-link"
		   href="{{ url_for('user.user') }}">Main page</a>
		{% else %}
		<a class="nav-item nav-link"
           href="{{ url_for('researcher.config') }}">Configure</a>
        <a class="nav-item nav-link"
           href="{{ url_for('control.data') }}">Raw</a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.chart') }}">Chart </a>
        <a class="nav-item nav-link"
            href="{{ url_for('researcher.instructions') }}">Researcher instructions</a>
		<a class="nav-item nav-link active"
           href="{{ url_for('user.userinstructions') }}">Modify user instructions <span class="sr-only">(current)</span></a>
		{% endif %}
		<div class="divider"></div>
		<a class="nav-item nav-link"
		   href="{{ url_for('control.choose_role') }}">Change role</a>
	</div>
</div>
{% endblock %}


{% block main_body %}

{% if researcher %}

<div class="instructions_form">
	<div class="form-group">

	<form action="/save_user_instructions" method="post" class="form-group-row">
  		<h2>Modify instructions shown for users:</h2>
  		<textarea class="form-control" rows="20" id="comment" name="user_instructions">{{ instructions|safe }}</textarea>
		    <div class="submit_button">
					<button type="submit" id="add_button"
                    	class="btn btn-primary">Save instructions
            		</button>
			</div>
    </form>
	</div>
</div>

{% else %}

{{ instructions|safe }}

{% endif %}

{% endblock %}
