{% extends "base.html" %}

{% block title %}<title>Video annotation - User</title>{% endblock %}

{% block head_extension %}
<script type="text/javascript"
        src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.range2dslider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slider.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.range2dslider.js') }}"></script>


{% endblock %}


{% block navbar_extension %}
<div class="collapse navbar-collapse justify-content-end"
     id="navbarMain">
    <div class="navbar-nav">
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}


{% set vimeoId = '65107797' %}

{% block main_body %}

<div class="container text-muted">
    Please watch the video and, at the same time, move the slider up or down
    when it makes you feel good or bad.
    <p></p>
</div>

<div class="container">
    <div class="align-items-center">
        <div>
            <div data-vimeo-id="{{ vimeoId }}"
                 id="player"></div>
        </div>
        <div>
            <div id="buttonContainer" >
                <button class="btn btn-dark" id="button-1">Press here</button>
            </div>
            <!-- <form id="slider-1" style="width:220%;transform:rotate(270deg)">
                <input type="range" class="custom-range"
                       id="formControlRange" min="0" max="100" step="1"
                       value="50" name="value"
                       ondrag="slider_value.innerHTML = this.value;"
                       onchange="player.getCurrentTime().then(timestamp =>
                                {sendData(timestamp, this.value, {{ vimeoId }})});
                                slider_value.innerHTML = this.value;">
            </form> -->

          </div>
          <div id="slider_value" class="align-self-end"
               style="position:relative;bottom:30px">
          </div>

          <div id="slider2-wrapper" style="width:100px; height:100px">
          <form id="slider-2" class="rangepresenter" >
            <div class="rangewrapper">
                <div class="sliderfill">

              <input class="customrange" type="range" min="0" max="100" value="50" name="value"
              ondrag="slider_value.innerHTML = this.value;"
              onchange="player.getCurrentTime().then(timestamp =>
                       {sendData2D(timestamp, this.value, 50, {{ vimeoId }})});
                       slider_value.innerHTML = this.value;">
                </div>
            <div class="sliderthumb"></div>
            <center>
            <div class="slidervalue"></div>
            </center>
          </div>
          </form>
        </div>

        <div id="slider_value" class="align-self-end"
             style="position:relative;bottom:10px">
        </div>
        <div style="display:block;" id="slider_div">

        <input id="slider" class="align-self-end" min="0" max="100" ondrag="slider_value.innerHTML = this.value;" onchange="twoDimensionalSliderOnChange();" style="position:relative;bottom:10px">

      </div>
    </div>

</div>

<script>
function twoDimensionalSliderOnChange()
{
  player.getCurrentTime().then(timestamp =>
          {
            let valval = $('#slider')[0].value;
             if (valval && valval !== "") {
               console.log(valval);
               let valval1 = valval.split("|")[0];
               let valval2 = valval.split("|")[1];
               sendData2D(timestamp, Math.round(parseFloat(valval1)), Math.round(parseFloat(valval2)), {{ vimeoId }});
             }
           });
}
</script>


<script>
window.onerror = function(msg, url, linenumber) {
      alert('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+linenumber);
      return true;
  }
$('#slider').range2DSlider({
  grid:false,
  axis:[[0,25,50,75,100],[0,25,50,75,100]],
  projections:true,
  showLegend:[1,1],
  allowAxisMove:['both'],
  printLabel:function( val ){
    this.projections&&this.projections[0].find('.xdsoft_projection_value_x').text(val[1].toFixed(5));
    return val[0].toFixed(5);
  }
})
  .range2DSlider('value',[[50,50]]);

//  $('#slider').mouseup(twoDimensionalSliderOnChange);

$('#slider')
  .range2DSlider();
</script>

<script>
    console.log($(window).width());
    if($(window).width() > 1000){
        var player = new Vimeo.Player('player', {
            width: '800'
        });
        $('.rangepresenter').addClass('verticalsliders');
        $('.rangewrapper').addClass('vertical');
        $('#slider-2').addClass('slider2');
        $('#slider_div').css('width', '700px');
    } else {
        var player = new Vimeo.Player('player', {
            width: '300'
        });
        $('#slider2-wrapper').css('display', 'block');
        $('#slider-2').css('margin', 'auto');
        //$('#slider_div').css('margin', 'auto');
        $('#buttonContainer').css('margin', 'auto');
        $('#slider_div').css('width', '300px');
    }
    player.on('play', function () {
      console.log('The video is playing, yay!');
    });
</script>

<script>
    let ticks = 0;
    let clock;
    let time;
    let button = document.getElementById('button-1');
    button.addEventListener("mousedown", event => {
        if(event.button == 0){
            player.getCurrentTime().then(timestamp => {
                time = timestamp;
            });
            clock = setInterval(() => {
                if(ticks < 100){
                    ticks++;
                    updateSlider(0, ticks);
                }
                slider_value.innerHTML = ticks;
            }, 10);
 /*           setTimeout(() => {
                console.log("TIMEOUT", ticks);
            }, 1600); */
        }
    });
    button.addEventListener("mouseup", event => {
        if(event.button == 0){
                sendData2D(time, ticks, 50, {{ vimeoId }})
                clearInterval(clock);
                ticks = 0;
        }
    });
</script>
{% endblock %}
