{% extends "base.html" %}

{% block title %}<title>Video annotation - User</title>{% endblock %}

{% block head_extension %}
<script type="text/javascript"
		src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript"
		src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/jquery.range2dslider.css') }}">
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/slider.css') }}">
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.range2dslider.js') }}"></script>
<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/userinstructions.css') }}">
{% endblock %}


{% block navbar_extension %}
<div class="collapse navbar-collapse justify-content-end"
	 id="navbarMain">
	<div class="navbar-nav">
		<a class="nav-item nav-link"
		   href="{{ url_for('control.choose_role') }}">Change role</a>
	</div>
</div>
{% endblock %}


{% block main_body %}
<div id="content_box">

   <h2 class="header">
      Step-by-step instructions for using annotation tool
   </h2>


   <p>
      <b>Step 1: </b> Go to <a href="choose_role"> this </a>page and choose the suitable user name for you, check that the Role field is 'User' and click the 'Proceed' button below the textfield.
   </p>

	 <p>
      <b>Step 2: </b> On the right side of the video you see a vertical slider. You may use either this vertical slider or 2D slider to annotate the video. You can drag the slider or click on the blue or green sides the value-bar to change the value of the slider. The slider will show you the specific value.
   </p>

	 <p>
      <b>Step 3: </b>Alternatively, you may also use the 'Press here' button below the video to move the vertical slider. The value depends on the time you press the button: with small click the value of the slider rises only slightly and with a longer pressing the slider will get bigger values.
   </p>

	 <p>
      <b>Step 4: </b> Below the video and 'Press here' button you see a 2D slider. You may use this 2D slider to annotate the video by clicking to the specific location in the coloured area so that the button will move to that spot. The slider will show you the specific valence (horizontal) value in the purple area above the red button and intensity (vertical) value on the left side of the coloured area.
   </p>

	 <p>
      <b>Step 5: </b> Click the play button in the video whenever you feel ready to annotate the video. From the lower right corner of the video, you can adjust the sound. You don't have to pause the video while annotating it, but you may do so if it feels easier.
   </p>

	 <p>
			 <b>Step 6: </b> After you have annotated the video, please inform your instructor.
		</p>

</div>

{% endblock %}
