{% extends "base.html" %}

{% block title %}<title>Video annotation - User</title>{% endblock %}

{% block head_extension %}
<script type="text/javascript"
        src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/jquery.range2dslider.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/slider.css') }}">
<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.range2dslider.js') }}"></script>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/userinstructions.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/navbar_divider.css') }}">
{% endblock %}


{% block navbar_extension %}
<div class="collapse navbar-collapse justify-content-end"
     id="navbarMain">
    <div class="navbar-nav">
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}


{% block main_body %}

<div id="content_box">


{{ instructions|safe }}

<div id="start_annotating">
    <a style="margin-top:20px;" href="/user"
       class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
       id="start_annotating2">Start annotating!</a>
</div>

</div>

{% endblock %}
