{% extends "base.html" %}

{% block title %}<title>Video annotation - Data</title>{% endblock %}

{% block navbar_extension %}

<div class="collapse navbar-collapse justify-content-end"
     id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active"
           href="{{ url_for('control.data') }}">Raw <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('researcher.chart') }}">Chart </a>
        <div class="nav-link nav-item">|</div>
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}

{% block main_body %}


{% if headers %}
<div class="container">
    <a class="btn btn-primary" href="{{ url_for('control.delete_all') }}">Delete
        all</a>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
            <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}