{% extends "base.html" %}

{% block title %}<title>Video annotation - Data</title>{% endblock %}

{% block head_extension %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/navbar_divider.css') }}">
{% endblock %}

{% block navbar_extension %}

<div class="collapse navbar-collapse justify-content-end"
     id="navbarMain">
    <div class="navbar-nav">
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.config') }}">Configure</a>
        <a class="nav-item nav-link active"
           href="{{ url_for('control.data') }}">Raw<span class="sr-only">
            (current)</span></a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.clusters') }}">Clusters</a>
        <a class="nav-item nav-link" href="{{ url_for('researcher.chart') }}">Chart </a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.instructions') }}">Researcher instructions</a>
        <a class="nav-item nav-link"
           href="{{ url_for('user.userinstructions') }}">Modify user instructions</a>
        <div class="divider"></div>
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}

{% block main_body %}


{% if headers %}
<div class="container">
    <div class="row justify-content-between">
        <a class="btn btn-primary"
           href="{{ url_for('control.delete_all') }}">Delete
            all</a>
        <a class="btn btn-primary" title="Download data as csv file"
           href="{{ url_for('control.export_all') }}">Export
        </a>
    </div>
    <p></p>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container">
    The database is empty.
</div>
{% endif %}

{% endblock %}
