<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video annotation - Choose Role</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">VideoAnnotation - Choose Role</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;
        </button>
        {{ message }}
    </div>
    {% endfor %}
</div>

<form action="/submit_username" method="post">
    <div class="container">
        <form class="form-group-row">
            <label for="selectRole" class="col-1 col-form-label">Role</label>
            <select class="custom-select"
                    id="selectRole" name="role">
                <option selected value="user">User</option>
                <option value="researcher">Researcher</option>
                <option value="test">Test/Both</option>
            </select>
        </form>
        <p></p>
        <div class="form-group row">
            <label for="inputUser" class="col-1 col-form-label">Username</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputUser"
                       placeholder="Username" name="username"
                       value="{{ request.form.username }}"
                       aria-describedby="note">
            </div>
            <p id="note" class="form-text text-muted">
                If you are a researcher, you can leave this blank.
            </p>
        </div>
        <p></p>
        <div class="form-group-row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </div>
</form>


</body>

<script>

</script>

</html>