{% extends "base.html" %}

{% block title %}<title>Video annotation - Researcher</title>{% endblock %}

{% block head_extension %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/navbar_divider.css') }}">
{% endblock %}

{% block navbar_extension %}

<div class="collapse navbar-collapse justify-content-end"
     id="navbarMain">
    <div class="navbar-nav">
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.config') }}">Configure</a>
        <a class="nav-item nav-link"
           href="{{ url_for('control.data') }}">Raw</a>
        <a class="nav-item nav-link active"
           href="{{ url_for('researcher.clusters') }}">Clusters <span
                class="sr-only">
            (current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('researcher.chart') }}">Chart</a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.instructions') }}">Researcher instructions</a>
		<a class="nav-item nav-link"
           href="{{ url_for('user.userinstructions') }}">Modify user instructions</a>
        <div class="divider"></div>
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}

{% block main_body %}
<div class="container">
	<div class="row">
         <div class="row">
		<div class="dropdown col-md-auto">
			<button class="btn btn-secondary dropdown-toggle" type="button"
					id="cluster_selector" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
					data-display="static">
				# of clusters
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				{% for clt in clustervals %}
				<a class="dropdown-item"
				   href="{{ url_for('researcher.clusters', cluster=clt, vid=currentVideo[0]) }}">{{ clt }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="dropdown col-md-auto">
			<button class="btn btn-secondary dropdown-toggle" type="button"
					id="video_selector" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
					data-display="static">
				Video
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				{% for id, v in vid_dict.items() %}
				<a class="dropdown-item"
				   href="{{ url_for('researcher.clusters', cluster=currentCluster, vid=id) }}">{{ v }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="py-2 col-md-auto">
			<span>Currently shown data: video <b>{{currentVideo[1]}}</b></span>
		</div>
	</div>
	</div>
	<hr>
</div>

<div class="container">
    <h3>Observation clusters</h3>

	Observation cluster plots are calculated with <a href="https://tslearn.readthedocs.io/en/latest/auto_examples/plot_kmeans.html#sphx-glr-auto-examples-plot-kmeans-py">K-means algorithm</a>, which groups similar observations. Strong blue lines are the cluster centers.
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
          rel="stylesheet" type="text/css">
    {{ the_div|safe }}
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    {{ the_script|safe }}
</div>

{% endblock %}
