{% extends "base.html" %}

{% block title %}<title>Video annotation - User</title>{% endblock %}

{% block head_extension %}
<script type="text/javascript"
		src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript"
		src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/jquery.range2dslider.css') }}">
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/slider.css') }}">
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.range2dslider.js') }}"></script>
<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/instructions.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/navbar_divider.css') }}">
{% endblock %}


{% block navbar_extension %}
<div class="collapse navbar-collapse justify-content-end"
     id="navbarMain">
    <div class="navbar-nav">
		<a class="nav-item nav-link active"
            href="{{ url_for('researcher.instructions') }}">Instructions
			<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.config') }}">Configure</a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.data') }}">Raw</a>
		<a class="nav-item nav-link"
           href="{{ url_for('researcher.clusters') }}">Clusters</a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.chart') }}">Chart </a>
        <div class="divider"></div>
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}


{% block main_body %}
<div id="content_box">

   <h2 class="header">
      Instructions for the researcher
   </h2>

	Welcome to the video annotating tool! This tool is for making research experiments giving videos for users to annotate.

	</br></br>

	At the moment we support only Vimeo videos.

	</br></br>

	 <h4 class="subheader"> Important functionalities</h4>

	 <ul>
  		<li>Adding and removing videos by Vimeo video id (Configure-page)</li>
  		<li>Adding and removing input sliders (Configure-page)</li>
  		<li>Changing the used database (Configure-page)</li>
		 <li>Modifying instructions shown for the user in the beginning of the experiment (Configure-page)</li>
		 <li>Seeing algorithmically retrieved insights of the collected data (Clusters & Chart -page)</li>
		 <li>Exploring the collected raw data (Raw -page)</li>
		 <li>Exporting the collected data (Raw -page)</li>
	 </ul>


	 <h4 class="subheader"> Limitations</h4>

	<ul>
  		<li>Slow loading with chart view</li>
  		<li>Information security: Usernames and the data is saved as plain text to the database. As long as your database is in a safe space, everything should be fine.
	    </li>
	 </ul>
</div>

{% endblock %}
