{% extends "base.html" %}

{% block title %}<title>Video annotation - User</title>{% endblock %}

{% block head_extension %}
<script type="text/javascript"
		src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript"
		src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/jquery.range2dslider.css') }}">
<link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='css/slider.css') }}">
<script type="text/javascript"
		src="{{ url_for('static', filename='js/jquery.range2dslider.js') }}"></script>
<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/instructions.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/navbar_divider.css') }}">
{% endblock %}


{% block navbar_extension %}
<div class="collapse navbar-collapse justify-content-end"
     id="navbarMain">
    <div class="navbar-nav">
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.config') }}">Configure</a>
        <a class="nav-item nav-link"
           href="{{ url_for('control.data') }}">Raw</a>
        <a class="nav-item nav-link"
           href="{{ url_for('researcher.chart') }}">Chart </a>
        <a class="nav-item nav-link active"
            href="{{ url_for('researcher.instructions') }}">Researcher instructions <span class="sr-only">(current)</span></a>
		<a class="nav-item nav-link"
           href="{{ url_for('user.userinstructions') }}">Modify user instructions</a>
        <div class="divider"></div>
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}


{% block main_body %}
<div id="content_box">

   <h2 class="header">
      Instructions for the researcher
   </h2>

<p>
	 This is the instruction page for the researcher on how to use this video annotation web-app. First, we will introduce the different features of the app in the 'Functionalities' section and inform all the known bugs and limitations of the app in the 'Limitations' section. If you have any issues with the app or you want to report a bug, please contact us via slack or e-mail.
</p>

	 <h4 class="subheader"> Functionalities</h4>

	 <p>
		<b>Configure page:</b> The configuarion page, where the researcher can add or remove videos or
	    change the database this is connected to.
   </p>

	 <p>
		<b>Raw data page: </b> On this page the researcher can view the raw user input data with columns "videoid", "username", "timestamp", "value" (valence), "value2" (intensity of the valence) and "date". On the upper left corner there is a "Delete all" button for deleting all the data. On the upper right corner there is a "Export" button for exporting the data.
   </p>

	 <p>
		<b>Clusters page: </b> Display correlation plot for the researcher. This webpage is only for the role researcher.
   </p>

	 <p>
		<b>Chart page: </b> This page will show the Valence ratings by timestamp -plot for a chosen video, where Valence rating is on the y-axis and Timestamp (in seconds) is on the x-axis. The researcher can change the current plot view to the plot of another video by selecting the name of that video from the 'Video' button on the upper left corner. The heading above the chart will inform to which video the specific plot belongs to.
   </p>

	 <p>
		<b>Change role: </b> From this page the researcher can change the role between 'User' and 'Researcher' but also choose the role 'Test/Both' for debugging purposes.
   </p>
	 <h4 class="subheader"> Limitations</h4>

	 <p>
		<b>Slow loading with chart view:</b> The chart view loads in 4.9 seconds currently. This bug is linked to rendering the plot and calculating the values that the plot uses in server side. The amount of data points will probably affect by increasing the loading time of the chart view. Updated April 23rd 2019.
		</p>

</div>

{% endblock %}
