{% extends "base.html" %}

{% block title %}<title>Video annotation - Researcher</title>{% endblock %}

{% block navbar_extension %}

<div class="collapse navbar-collapse justify-content-end"
     id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('control.data') }}">Raw</a>
        <a class="nav-item nav-link active"
           href="{{ url_for('researcher.chart') }}">Chart <span class="sr-only">(current)</span></a>
        <div class="nav-link nav-item">|</div>
        <a class="nav-item nav-link"
           href="{{ url_for('control.choose_role') }}">Change role</a>
    </div>
</div>
{% endblock %}

{% block main_body %}

<link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
      rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
      rel="stylesheet">
<h1>Researcher view</h1>
{{ the_div|safe }}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
{{ the_script|safe }}

{% endblock %}