<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}<title>Video annotation</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block head_extension %}{% endblock %}
</head>

<body>

<!-- The navigation bar for the site, elements need to be provided by
templates that inherit from base. -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">Video Annotation Tool</div>
    {% block navbar_extension %}{% endblock %}
</nav>

<!-- This block will show flashed messages. The code is in a block, because
this means templates inheriting from base can overwrite it if required.

In theory the button here is closeable by the user, and an x could be displayed
by using "&times;" between the opening and closing tag of <button>. But
somehow this does not work with template inheritance in Jinja. If the
displayed page was a standalone template. -->
<p></p>
{% block messages %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">
        </button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}

<!-- The main body of the site (i.e. what comes below the navigation bar),
needs to be provided by templates that inherit from base. -->
{% block main_body %}
{% endblock %}

</body>

</html>